<footer>
    <div class="container">
        <div class="contatos">
            <h4>CONTATOS</h4>
            <div class="contato">
                <div class="img">
                    <img src="../../../assets/Icons/icon-phone.svg">
                </div>
                <a href="#" target="_blank">
                    <h5 class="bold600">(14) 99665-6175</h5>
                </a>
            </div>
            <div class="contato">
                <div class="img">
                    <img src="../../../assets/Icons/icon-facebook.svg">
                </div>
                <a href="https://web.facebook.com/groups/2535316796774794/?_rdc=1&_rdr" target="_blank">
                    <h5 class="bold600">Projeto Plantas e Peixes</h5>
                </a>
            </div>
            <div class="contato">
                <div class="img">
                    <img src="../../../assets/Icons/icon-point.svg">
                </div>
                <a href="https://goo.gl/maps/gHWU7tRMHo715A4Q7" target="_blank">
                    <h5 class="bold600">R. Waldir Bento Felix, 350 - Padre Nóbrega, Marília - SP</h5>
                </a>
            </div>
        </div>
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14779.240212139732!2d-50.017503!3d-22.1713013!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94bfd51de0d647cf%3A0xef23a8595a7c7e52!2sProjeto%20Plantas%20e%20Peixes!5e0!3m2!1spt-PT!2sbr!4v1688562524317!5m2!1spt-PT!2sbr" width="452" height="217" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</footer>