<app-header></app-header>
<div id="body">
    <div class="container">
        <div class="home">
            <img src="../../../assets/Icons/icon-project-hand.svg" alt="Projeto Plantas e Peixes">
            <div class="title-home">
                <h3>Bem-vindo ao Projeto</h3>
                <h1>
                    <span class="verde">Plantas e </span>
                    <span class="azul">Peixes</span>
                </h1>
                <h4>Reencontre-se com a natureza através da Aquaponia!</h4>
            </div>
        </div>
        <div class="jornada">
            <div class="title-jornada">
                <h5 class="bold600">HISTÓRIA</h5>
                <h2>A jornada do Projeto</h2>
            </div>
            <div class="info">
                <div class="text">
                    <h5>{{text1}}</h5>
                    <h5>{{text2}}</h5>
                </div>
                <img src="../../../assets/Images/Home/image-home1.png" alt="">
            </div>
            <div class="info">
                <img src="../../../assets/Images/Home/image-home2.png" alt="">
                <div class="text">
                    <h5>{{text3}}</h5>
                    <h5>{{text4}}</h5>
                </div>
            </div>
            <div class="info">
                <div class="text">
                    <h5>{{text5}}</h5>
                    <h5>{{text6}}</h5>
                </div>
                <img src="../../../assets/Images/Home/image-home2.png" alt="">
            </div>
            <div class="info">
                <div class="text">
                    <h5>{{text7}}</h5>
                </div>
            </div>
        </div>
    </div>
</div>