<app-header></app-header>
<div id="body">
    <div class="container">
        <div class="home">
            <img src="../../../assets/Icons/icon-project-hand.svg" alt="Projeto Plantas e Peixes">
            <div class="title-home">
                <h3>Bem-vindo ao Projeto</h3>
                <h1>
                    <span class="verde">Plantas e </span>
                    <span class="azul">Peixes</span>
                </h1>
                <h4>Reencontre-se com a natureza através da Aquaponia!</h4>
            </div>
        </div>
    </div>
</div>